<!-- /* //Assignment: Assignment 2 Express Portfolio – Authentication 
// Laura Amangeldiyeva - student id: 301167661 
// Date: 2022/02/15 */ -->

 <img src = "public\Assets\images\photoL.png" width="180" height="346" id="photos1" style="float: right; padding: 10px;"><p> My name is Laura and I am 4th semester student of "Game - Programming" program at Centennial College. Originally I am from Kazakhstan, but I moved to Toronto in October, 2021. I was inspired by Hideo Kojima and decided apply for such an interesting program. I enjoy playing different kindds of games and have my insparation and will to create games from it.

    I have an experience of making short 2D games, as well as assets and character models for them. I also have strong analytics skills, with the ability to follow precise instructions and solve complex technical problems.
    
    <i>Highlight of Courses:</i>
    
    <ul>Database Concepts</ul>
    <ul>Client-Side Web Development</ul> 
    <ul>Software Engineering Methodologies</ul>
    <ul>Unix/Linux OS</ul>
    <ul>Assets for Game Developers</ul>
    <ul>Programming Level 1 & 2</ul> 
    <ul>Game & Simulation</ul>
    <ul>Web Interface Design</ul>
    <ul>Java Programming</ul> 
</p><br>
<p>You will find more information about me in my resume, which is<a href="COOP_Resume_Amangeldiyeva.pdf" style="color: #cbcc8a;"> here</a></p><br>