<!-- /* //Assignment: Assignment 2 Express Portfolio – Authentication 
// Laura Amangeldiyeva - student id: 301167661 
// Date: 2022/02/15 */ -->

 <!--Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark" style="background-color:#cbcc8a">
      <div class="container-fluid">
        <h6 class="display-10 navbar-text">&copy; Copyright - Amangeldiyeva Laura - 2022</h6>
      </div>
    </nav>
  </footer>