<!-- /* //Assignment: Assignment 2 Express Portfolio – Authentication 
// Laura Amangeldiyeva - student id: 301167661 
// Date: 2022/02/15 */ -->

<!--Home Page-->
  <p>Welcome to the Index (aka Home) page of my Express Portfolio Site assignment!

    Hope this page will help you to get to know me better :)
    You can click around and explore all the pages, but I recomend to start from "About me" page.
  </p><br>
  <!--List of links to follow-->
  <ul>
    <li><p>To see more information about me, please <a href ="/about" style="color: #000000;"><i>click here</i></a></p></li>
    <li><p>List of the services I provide is located <a href ="/services" style="color: #000000;"><i>here</i></a></p></li>
    <li><p>To see my previous projects <a href ="/projects" style="color: #000000;"><i>click here</i></a></p></li>
    <li><p>If you want to contact me, please <a href ="/contact" style="color: #000000;"><i>click here</i></a></p></li>
  </ul>