<!-- /* //Assignment: Assignment 2 Express Portfolio – Authentication 
// Laura Amangeldiyeva - student id: 301167661 
// Date: 2022/02/15 */ -->

<!--Projects Page-->  

  <h4 style="color: #cbcc8a;">My projects:</h4>
  <ul>
  <li><img src = "public\Assets\images\characterModel.png" width="175" height="258" id="photo1" style="float: left; padding: 10px;">
  <p> In my first semester of studying Game Development we were working on our own game. That's right! We were creating a short 2D game and I was responsible for the design of our main character (you can see him next to this text). 
  </p></li><br><br><br><br><br><br>

  <li><img src = "public\Assets\images\co-op.png" width="478" height="229" id="photo2" style="float: right; padding: 10px;">
  <p>I am currently inrolled in co-op and I am working on web sites. To be more specific, I am working with developers to make web sites as accessible as possible! It is really exsiting job and here you can see my current project that I am working on.
  </p></li><br><br><br> 
  
  <li><img src = "public\Assets\images\game2.png" width="250" height="250" id="photo3" style="float: left; padding: 10px;">
  <p>This is another game we have been working on in my first year of studies. This game was our final project for one of the courses and it was 2D one-level game. 
    Here you can see a screenshot of the Unity program and "backstage" of the game. I was responsible for coding the movements of the characters, as well as their desing and loading screen!
  </ul>
 
  </p></li>

  <br><br>

