<!-- /* //Assignment: Assignment 2 Express Portfolio – Authentication 
// Laura Amangeldiyeva - student id: 301167661 
// Date: 2022/02/15 */ -->

<!--Services Page-->

   <img src = "public\Assets\images\skills.jpg" width="300" height="200" align="right" id="skills" style="padding: 5px;"><br><br>

  <!--List of Service-->
  <h4 style="color: #cbcc8a;">Services I offer:</h4>
  <ul>
  <li>Website Development</li>
  <li>2D game development</li>
  <li>Creating/designing assets and 2D characters</li>
  <li>General Coding (C#, JavaScript, C++)</li>
  </ul>