<!-- /* //Assignment: Assignment 2 Express Portfolio – Authentication 
// Laura Amangeldiyeva - student id: 301167661 
// Date: 2022/02/15 */ -->

<!--to add header-->
<%- include partials/header.ejs%>
<!--to add main nav-->
  <%- include partials/main_nav.ejs%>

<!--main class info-->
  <main class="container">
    <div class="jumbotron">
        
        <!--contact info panel-->
        <div id="panel" style=" width: 500px; margin-right: auto; border-radius: 10px; padding: 15px; opacity: 0.8;">
        <h3>Contact Info:</h3>
        <h4 style="color: #000000;">Laura Amangeldiyeva</h4>
        <h4 style="color: #000000;">My email: lamangel@my.centennialcollege.ca</h4>
        </div>
     
        <!--contact form (interactable)-->
     <div id="myForm" style="background-color: 83adad; width: 850px; margin-left: auto; margin-right: auto; border-radius: 10px; padding: 15px; opacity: 0.8;">
        <center><h4 style="color: #000000;">You can contact me here!</h4></center><br>
    <form action="mailto:lamangel@my.centennialcollege.ca" method="post">
        <label style = " width: 350px; text-align: right; float: left; padding-right: 20px;">First Name: </label>
        <input type="text"><br><br>
        <label style = " width: 350px; text-align: right; float: left; padding-right: 20px;">Last Name: </label>
        <input type="text"><br><br>
        <!-- <label style = " width: 350px; text-align: right; float: left; padding-right: 20px;">Contact Number: </label>
        <input type="tel" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br><br> -->
        <label style = " width: 350px; text-align: right; float: left; padding-right: 20px;">Email Address: </label>
        <input type="email"><br><br>
        <label style = " width: 350px; text-align: right; float: left; padding-right: 20px;">Message: </label>
        <textarea cols="45"></textarea><br><br>
        <label style = " width: 350px; text-align: right; float: left; padding-right: 20px;"><input type="submit" value="submit"></label><input type="reset" value="reset">
    </form>
    </div>  
    <br><br>

    </div>
  </main>

<!--to add bottom nav-->
   <%- include partials/bottom_nav.ejs%>
   <!--to add footer-->
  <%- include partials/footer.ejs%>
 